.formWrapper {
  max-width: 300px;
  margin: auto;
  
}

body{
  background-color: rgb(56, 56, 56);
  color:rgb(238, 238, 238)
}

#templateSelect{
  padding: 2px 6px;
}
.previewBtn{
  background-color: #6e6969;
  display: block;
  width: 95%;
  margin: auto;
  border: 1px solid #ffffff;
  border-radius: 4px 4px 4px 4px;
  font-weight: bold;
  font-size: 14;
  color: white;
  padding: 0px 12px;
  transition: all .2s ease-in-out;

}

.previewBtn:hover{
  background-color: #337ab7;
  opacity: 1;
  color: white;
  transform: scale(1.05);
}

.help-block{
  margin: -22px 10px -5px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 1.1;
}

.animInBtn{
  background-color: rgb(0, 170, 133);
  font-weight: bold;
  /* margin-right: 40px; */
  margin: 10px;
  /* opacity: 0.8; */
  transition: all .2s ease-in-out;
  color: rgb(255, 255, 255);
}

.animOutBtn{
  background-color: rgb(247, 130, 21);
  font-weight: bold;
  /* margin-right: 40px; */
  margin: 10px;
  /* opacity: 0.7; */
  transition: all .2s ease-in-out;
  color: rgb(255, 255, 255);

}

.animInBtn:hover{
  background-color: rgb(0, 170, 133);
  opacity: 1;
  color: white;
  transform: scale(1.1);
}

.animInBtn:focus{
  background-color: rgb(0, 170, 133);
  opacity: 1;
  color: white;
}

.animOutBtn:hover{
  background-color: rgb(247, 130, 21);
  opacity: 1;
  color: white;
  transform: scale(1.1);
}

.animOutBtn:focus{
  background-color: rgb(247, 130, 21);
  opacity: 1;
  color: white;
}

/* #NarrativeForm1{
  color: #555
} */

textarea{
  padding: 6px 6px;
  resize: none;
  color: #555;
  border-radius: 4px;
  line-height: 110%;
  margin-bottom: -5px;
  
}

.title{
  display: none;
  font-size: 14px;
}

.divider{
  margin-top: 5px;
  margin-bottom: 5px;
}

.draggable.tab{
  line-height: 0.5;
  margin-bottom: 8px;
  margin-right: 5px;
  border: 1px solid #337ab7;
  border-radius: 4px 4px 4px 4px;
  padding: 4px 4px;
  font-weight: normal;
  font-size: 12px;
  cursor: context-menu;
}

.draggable.tab:hover{
  background-color: #337ab7;
  opacity: 1;
  color: white;
  transform: scale(1.1);
}

.nav.nav-tabs{
margin-top: -18px;

}


._jsonform-array-deleteitem, ._jsonform-array-addmore{
  padding: 2px 6px;
  margin-top: 0px;
}

.form-group{
  margin-top: 2px;
  margin-bottom: 4px;
}

.form-control{
  height: 26px;
  padding: 6px 6px;
  
}

label{
  font-weight: normal;
}

.autoAnimOut{
  margin: -15px 10px 10px;
}

.colorPic{
  width: 62px;
  height: 20px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-bottom: 10px;
  
}

.colors{
  display: block;
  margin-top: 10px;
  /* text-align: center; */
}

.toggle-off{
  font-size: 30px !important;
  font-weight: bold ;
}

.OBS-switch-button{
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: -100px;
  transform: scale(0.5);
}